.card-list {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 90%;
  margin: 0 auto;
}
.card-container {
  display: flex;
  flex-direction: column;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  margin-bottom: 5px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

@media only screen and (min-width: 768px) {
  .card-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-gap: 20px;
  }
  .card-container:hover {
    transform: scale(1.05);
  }
}
@media only screen and (min-width: 992px) {
  .card-list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-gap: 20px;
  }
}




